
<form #f="ngForm" (ngSubmit)="done3(f)">

  <div >

    <div class="input-group flex-nowrap ipu">
      <div class="input-group-prepend">
      </div>
      <input   name="name" ngModel required #name="ngModel"  type="text" class="form-control" placeholder="Full Name" aria-label="name" aria-describedby="addon-wrapping">
    </div>

    
    
    <div class="input-group flex-nowrap ipu">
        <div class="input-group-prepend">
    <input type="file" class="file-input"
    (change)="onFileSelected($event)" #fileUpload>
   
</div>
    
    
  <div>
      <button class="btn btn-primary" type="submit">Done</button>
    </div>